#theButtonBoyo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#gameStartBtn {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'silkscreen', 'monospace', 'serif';
    font-size: 24px;
    background-color:#45D994;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 280px;
    height: 100px;
    margin: 5px;
}

#gameStartBtn:hover {
    background-color: aquamarine;
    color: #45D994;
}

#resultsBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 280px;
    font-size: 24px;
    font-family: 'silkscreen', 'monospace', 'serif';
    margin: 5px auto;
    background-color: #45D994;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}

#resultsBtn:hover {
    background-color: aquamarine;
    color: #45D994;
}

/* #submitBtn {
    display: none;
} */

#resultsContainer {
    display: flex;
    justify-content: center;
    display: none;
}

/* #enterInit {
    display: none;
} */

/* #initId {
    display: none;
} */

#backBtn {
    display:flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    height: 100px;
    width: 280px;
    font-family: 'silkscreen', 'monospace', 'serif';
    font-size: 24px;
    background-color: #45D994;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}

#backBtn:hover {
    background-color: aquamarine;
    color:#45D994;
}

#submitBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 280px;
    background-color: #45D994;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 24px;
    font-family: 'silkscreen', 'monospace', 'serif';
    margin: 5px auto;
    cursor: pointer;
}

#backContainer {
    display: flex;
    justify-content: center;
}

#scores {
    display: none;
}

h1 {
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 6px rgb(172, 48, 197);
    border-radius: 5px;
    background-color: #ac62e8;
}

body {
    background-color: #3ED5E6;
    font-family: 'Silkscreen', 'monospace', 'cursive';
}

#timerOut {
    display: none;
}

#theBigContainer {
    display: none;
}
#container-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#countdown {
    padding: 5px;
    padding-right: 10px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}

#question-container {
    text-align: center;

}

#quiz-container {
    background-color: rgb(204, 130, 238);
    border: 5px dashed rgb(172, 48, 197);
    margin: 5px auto;
    width: 800px;
    height: 400px;
    border-radius: 5px;

}

#resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    display: none;

}



#initId,
#enterInit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ac62e8;
    border: solid 5px rgb(172, 48, 197);
    border-radius: 5px;
    margin: 5px auto;
    width: 40%;
}

#quiz-question {
    padding: 5px;
   
}

#options {
    display:flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
}

#options > * {
    padding: 20px;
    margin: 5px;
}

#op1, #op2, #op3, #op4 {
    padding-left: 40px;
    position: relative;
    bottom: 47px;
}

#scoreDisplay {
    background-color: #ac62e8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid 5px rgb(172, 48, 197);
    border-radius: 5px;
    width: 40%;
    margin: 20px auto;
    display: none;
}

/* #uwu {
    border-radius: 5px;
    display: none;
} */